.CallToAction {
  text-align: center;
  background-color: #F9FAFC;
  padding: 2em 0;
  margin: 2em 0 0;
}

.CallToAction__heading {
  font-size: 28px;
  font-family: "Merriweather";
  font-weight: 400;
  line-height: normal;
  color: #0F007A;
  margin: 0.5em 0 1em;
  padding: 15px;
}

.CallToAction__paragraph {
  margin: 3.5em;
}

@media screen and (min-width: 1024px) {
  .CallToAction__heading {
    font-size: 40px;
  }
}
