{
    "presets": [
        "module:metro-react-native-babel-preset"
    ],
    "plugins": [
        "functional-hmr",
        "graphql-tag",
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "src": "./src",
                    "assets": "./assets"
                }
            }
        ]
    ]
}