{
    "presets": [
        "react-native"
    ],
    "plugins": [
        "functional-hmr",
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "extensions": [
                    ".js"
                ],
                "alias": {
                    "src": "./src"
                }
            }
        ]
    ]
}