.AssetTrackerDemo {
  margin: 2em 0 0;
}


.AssetTrackerDemo__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  line-height: normal;
}

.AssetTrackerDemo__heading {
  font-size: 28px;
  font-family: "Merriweather";
  font-weight: 400;
  line-height: normal;
}

.AssetTrackerDemo__phone {
  width: 320px;
  height: 379px;
}

.AssetTrackerDemo__expandable {
  display: none;
}

@keyframes AssetTrackerDemo__FadeInParagraph {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.AssetTrackerDemo__fade-in-paragraph {
  position: absolute;
  max-width: 600px;
  animation: AssetTrackerDemo__FadeInParagraph 0.15s linear;
}

.AssetTrackerDemo__phone-container {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .pure-g.AssetTrackerDemo__column-order {
    flex-direction: row-reverse;
  }

  .AssetTrackerDemo__text {
    text-align: start;
    font-size: 18px;
  }

  .AssetTrackerDemo__phone {
    width: 440px;
    height: 521px;
  }

  .AssetTrackerDemo__expandable {
    display: block;
    top: 0;
  }
}
