.Legal {
  height: 100%;
  width: 100%;
  margin: 62px 0 0;
}

.Legal__text {
  margin: 0 0 3em;
  padding: 0 0.5em;
}

.Legal__heading {
  font-family: "Merriweather";
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}
