.WaitList {
  height: 100%;
}

.WaitList__content {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.WaitList__header {
  font-size: 48px;
  line-height: normal;
  font-family: "Merriweather";
  font-weight: 400;
  color: #0F007A;
}

.WaitList__status-header {
  font-size: 28px;
  font-weight: 400;
  font-family: "Merriweather";
  line-height: normal;
  color: #0F007A;
}

.WaitList__position-box {
  border: 1px #1BE9B6 solid;
  margin: 1em;
  padding: 1em;
}

.WaitList__heading--position {
  margin: 0;
}

.WaitList__paragraph {
  font-size: 16px;
}

.WaitList__paragraph--marginless {
  margin: 0;
}

.WaitList__person-label {
  display: block;
  color: black;
  font-size: 16px;
  font-family: "Circular Std Book";
}

.WaitList__code {
  font-size: 24px;
  font-family: "Merriweather";
  color: #0F007A;
}

@media screen and (min-width: 1024px) {
  .WaitList__header {
    font-size: 72px;
  }

  .WaitList__person-label {
    display: inline;
    font-size: inherit;
    color: #0F007A;
    font-family: inherit;
  }
}
