.WaterDamage {
  height: auto;
}

.WaterDamage__relative-container {
  position: relative;
  overflow: auto;
}

.WaterDamage__animations {
  display: flex;
  background-image: url("/assets/web/splash/backdrop.svg");
  background-size: cover;
  width: 100%;
  float: left;
}

.WaterDamage__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.WaterDamage__heading {
  font-family: "Merriweather";
  font-weight: 400;
  line-height: normal;
  font-size: 28px;
  color: #0F007A;
  white-space: nowrap;
  margin: 0;
  padding: 0 15px;
}

.WaterDamage__subtext {
  display: none;
}

@media screen and (min-width: 1024px) {
  .WaterDamage__heading {
    font-size: 40px;
  }

  .WaterDamage__subtext {
    display: block;
    margin: 0.5em 0 0;
  }
}
