.ModelExplanation {
  margin: 2em 0 0;
}

.ModelExplanation__text {
  text-align: center;
}

.ModelExplanation__text p {
  font-size: 14px;
  line-height: normal;
  white-space: pre-line;
}

.ModelExplanation__heading {
  font-size: 28px;
  font-family: "Merriweather";
  font-weight: 400;
  line-height: normal;
}

.ModelExplanation__icons {
  text-align: center;
}

@media screen and (min-width: 786px) {
  .ModelExplanation__text p {
    font-size: 18px;
  }
}
