.ModelExplanation {
  height: auto;
}

.ModelExplanation__text {
  text-align: center;
}

.ModelExplanation__heading {
  font-size: 28px;
  font-family: "Merriweather";
  font-weight: 400;
  line-height: normal;
}

.ModelExplanation__icons {
  text-align: center;
}
