.Chat {
  height: 100%;
  box-sizing: border-box;
}

.Chat__chat-area {
  margin: 0.5em;
  overflow: hidden;
  height: 100%;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Chat__chat-area::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.Chat__input-container {
  width: 100%;
  padding: 0 0.5em 0.5em 0.5em;
  display: flex;
  justify-content: flex-end;
}
