.ClaimDemo {
  background-color: #0F007A;
}

.ClaimDemo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.ClaimDemo__heading {
  color: white;
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
  text-align: center;
}

.ClaimDemo__phone {
  display: flex;
  justify-content: center;
}

.ClaimDemo__expandable {
  display: none;
}

@keyframes ClaimDemo__FadeInParagraph {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ClaimDemo__fade-in-paragraph {
  color: white;
  position: absolute;
  max-width: 600px;
  animation: ClaimDemo__FadeInParagraph 0.15s linear;
}

.ClaimDemo__white-border {
  position: relative;
  background-color: white;
  margin: -7px 0 0;
  height: 7px;
  width: 100%;
}

.ClaimDemo__sm-hidden {
  display: none;
}

@media screen and (min-width: 1024px) {
  .ClaimDemo__heading {
    text-align: left;
    font-size: 40px;
  }

  .ClaimDemo__phone {
    justify-content: flex-end;
    margin: 4em 0 0;
  }

  .ClaimDemo__expandable {
    display: block;
  }

  .ClaimDemo__sm-hidden {
    display: inline;
  }
}
