.Splash {
  margin: 62px 0 0;
  width: 100%;
  height: auto;
}

.Splash__text {
  margin: 2em 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Splash__heading {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 36px;
  line-height: normal;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .Splash {
    height: 85vh;
  }

  .Splash__text {
    text-align: left;
  }

  .Splash__heading {
    font-size: 60px;
  }

  .Splash__full-height {
    height: 100%;
  }
}
